<!DOCTYPE html>
<html>

<head>
    <title>Instagram - Login</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <main>
        <div class="banner">
            <img src="img/banner-login.png" alt="Smartphones com demonstração do instagram">
        </div>
        <div class="login">
            <img src="img/logo.png" alt="Instagram" class="logo">
            <form>
                <input type="email" name="email" id="email" placeholder="nome de usuário ou email">
                <input type="password" name="senha" id="senha" placeholder="senha">
                <button type="submit">Entrar</button>
            </form>
            <div class="cta-cadastro">
                <p>Não tem uma conta? <a href="registro.html">Cadastre-se</a> </p>
            </div>
        </div>
    </main>
</body>

</html>