<!DOCTYPE html>
<html>

<head>
    <title>Instagram - Registro</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <div class="banner">
            <img src="/img/banner-login.png" alt="Smartphones com demonstração do instagram">
        </div>
        <div class="login">
            <img src="/img/logo.png" alt="Instagram" class="logo">

            <form action="/usuarios" method="POST">
                <input type="nome" name="nome" id="nome" placeholder="Digite seu nome">
                <input type="email" name="email" id="email" placeholder=" Digite seu email">
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
                <input type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme sua senha">
                <button type="submit">Cadastre-se</button>
                <p>Ao se cadastrar, você concorda com os nosso <strong>Termos, Políticas de Dados e Políticas de
                        Cookies.</strong> </p>
            </form>
            <div class="cta-cadastro">
                <p>Já tem uma conta? <a href="/usuarios/login">Faça login</a> </p>
            </div>
        </div>
    </main>
</body>

</html>