* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    /* alinhamento na horizontal */
    align-items: center;
    /* alinhamento na vertical */
    padding: 50px 0px;
    /* 50px para cima e para baixo, 0px para laterais */
}

main.listaPosts {
    flex-direction: column;

}

.logo {
    width: 150px;
}

/* inicio style login */
.login {
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    margin: 30px;
}

.login form input {
    width: 100%;
    height: 30px;
    margin: 7px 0;
    padding: 5px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login form button {
    background-color: #0095f6;
    color: #fff;
    padding: 7px 10px;
    margin: 20px 0;
    width: 100%;
    border: none;
}

/* fim style login  */
header {
    width: 100%;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

header .logo {
    width: 150px;
}


article {
    width: 600px;
    max-width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

article .img-principal {
    /* background-image: url('../img/publication_example.jpg'); */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

article .post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

article .post-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

article .post-header .usuario {
    display: flex;
}

article .post-header .usuario img {
    width: 50px;
    margin-right: 15px;
}

article .comentarios .legenda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    vertical-align: center;
}